<!-- Footer start -->
<footer id="footWrapper">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <!-- main menu footer cell start -->
                <div class="cell-3">
                    <h3 class="block-head">Menu chính</h3>
                    <ul class="footer-menu">
                        <li><a href="home.html">Trang chủ</a></li>
                        <li><a href="about-us.html">Liên hệ</a></li>
                        <li><a href="blog.html">Bài đăng</a></li>
                        <li><a href="portfolio-4-cols.html">Dự án</a></li>
                        <li><a href="FAQ.html">FAQ</a></li>
                    </ul>
                </div>
                <!-- main menu footer cell start -->
                <!-- Our Friends footer cell start -->
                <div class="cell-3">
                    <h3 class="block-head">Đối tác</h3>
                    <ul class="footer-menu">
                        <li><a href="#">Golden Sea</a></li>
                        <li><a href="#">POS</a></li>
                        <li><a href="#">Golden Sea</a></li>
                        <li><a href="#">Golden Sea</a></li>
                        <li><a href="#">Golden Sea</a></li>
                    </ul>
                </div>
                <!-- Our Friends footer cell start -->
                <!-- Useful Links footer cell start -->
                <div class="cell-3">
                    <h3 class="block-head">Liên kết</h3>
                    <ul class="footer-menu">
                        <li><a href="privacy.html">Liên kết 1</a></li>
                        <li><a href="terms.html">Liên kết 1</a></li>
                        <li><a href="#">Liên kết 1</a></li>
                        <li><a href="#">Liên kết 1</a></li>
                        <li><a href="#">Liên kết 1</a></li>
                    </ul>
                </div>
                <!-- Useful Links footer cell start -->
                <!-- Tags Cloud footer cell start -->
                <div class="cell-3">
                    <h3 class="block-head">Tags</h3>
                    <div class="tags">
                        <a href="#">Design</a>
                        <a href="#">User interface</a>
                        <a href="#">Performance</a>
                        <a href="#">Development</a>
                        <a href="#">WordPress</a>
                        <a href="#">SEO</a>
                        <a href="#">Joomla</a>
                        <a href="#">ASP.Net</a>
                        <a href="#">SharePoint</a>
                        <a href="#">Bootstrap</a>
                    </div>
                </div>
                <!-- Tags Cloud footer cell start -->

                <div class="clearfix"></div>
                <hr class="hr-style5">
                <div class="clearfix"></div>

                <!-- contact us footer cell start -->
                <div class="cell-3">
                    <h3 class="block-head">Liên hệ</h3>
                    <ul>
                        <li class="footer-contact"><i class="fa fa-home"></i><span>50 Lê Văn Việt, phường Hiệp Phú, quận 9, TP.HCM.</span></li>
                        <li class="footer-contact"><i class="fa fa-globe"></i><span><a href="#">https://www.atsolution.info/</a></span></li>
                        <li class="footer-contact"><i class="fa fa-phone"></i><span>+84 934 090 231</span></li>
                        <li class="footer-contact"><i class="fa fa-map-marker"></i><span><a href="contact.html#map_canvas">Bản đồ</a></span></li>
                    </ul>
                </div>
                <!-- contact us footer cell end -->
                <!-- Newsletters footer cell start -->
                <div class="cell-3">
                    <div class="foot-logo"></div>
                    <p class="no-margin">Theo kịp các tính năng sản phẩm và công nghệ luôn phát triển của chúng tôi. Nhập e-mail của bạn và đăng ký nhận bản tin của chúng tôi.</p>
                    <form action="link-to-your-site" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate class="NL">
                        <div class="skew-25 input-box left">
                            <input type="email" value="" name="EMAIL" class="txt-box skew25" id="mce-EMAIL" placeholder="Nhập email của bạn" required>
                        </div>
                        <div class="left skew-25 NL-btn">
                            <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="btn skew25">
                        </div>
                        <div class="hidden"><input type="text" name="name-of-the-hidden-field" value=""></div>

                        <div class="Notfication fx animated fadeInRight">
                            <a class="close-box" href="#"><i class="fa fa-times"></i></a>
                            <p></p>
                        </div>
                    </form>
                </div>
                <!-- Newsletters footer cell start -->
                <!-- latest tweets footer cell start -->
                <div class="cell-3">
                    <h3 class="block-head">Latest Tweets</h3>
                    <div id="twitter-feed" class="tweet"></div>
                </div>
                <!-- latest tweets footer cell start -->
                <!-- flickr stream footer cell start -->
                <div class="cell-3 flickr-stream-w">
                    <h3 class="block-head">Flickr Stream</h3>
                    <ul id="flickrFeed"></ul>
                </div>
                <!-- flickr stream footer cell start -->

            </div>
        </div>
    </div>

    <!-- footer bottom bar start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <!-- footer copyrights left cell -->
                <div class="copyrights cell-5">&copy; Copyrights <b>ATSOLUTION</b> 2019. All rights reserved. <span><a href="privacy.html">Privacy policy</a> | <a href="terms.html">Terms of use</a></span></div>

                <!-- footer social links right cell start -->
                <div class="cell-7">
                    <ul class="social-list right">
                        <li class="skew-25"><a href="#" data-title="dribbble" data-tooltip="true"><span class="fa fa-dribbble skew25"></span></a></li>
                        <li class="skew-25"><a href="#" data-title="facebook" data-tooltip="true"><span class="fa fa-facebook skew25"></span></a></li>
                        <li class="skew-25"><a href="#" data-title="linkedin" data-tooltip="true"><span class="fa fa-linkedin skew25"></span></a></li>
                        <li class="skew-25"><a href="#" data-title="skype" data-tooltip="true"><span class="fa fa-skype skew25"></span></a></li>
                        <li class="skew-25"><a href="#" data-title="tumbler" data-tooltip="true"><span class="fa fa-tumblr skew25"></span></a></li>
                        <li class="skew-25"><a href="#" data-title="twitter" data-tooltip="true"><span class="fa fa-twitter skew25"></span></a></li>
                        <li class="skew-25"><a href="#" data-title="YouTube" data-tooltip="true"><span class="fa fa-youtube skew25"></span></a></li>
                    </ul>
                </div>
                <!-- footer social links right cell end -->

            </div>
        </div>
    </div>
    <!-- footer bottom bar end -->

</footer>
<!-- Footer end -->
<!-- Back to top Link -->
<div id="to-top" class="main-bg"><span class="fa fa-chevron-up"></span></div>