<div class="login-box">
    <a class="close-login" href="#"><i class="fa fa-times"></i></a>
    <form>
        <div class="container">
            <p>Chào mừng bạn đến với AT SOLUTION, Chúng tôi cung cấp cho bạn các giải pháp toàn diện cho doanh nghiêp.</p>
            <div class="login-controls">
                <div class="skew-25 input-box left">
                    <input type="text" class="txt-box skew25" placeholder="Tên đăng nhập / Email" />
                </div>
                <div class="skew-25 input-box left">
                    <input type="password" class="txt-box skew25" placeholder="Mật khẩu" />
                </div>
                <div class="left skew-25 main-bg">
                    <input type="submit" class="btn skew25" value="Đăng nhập" />
                </div>
                <div class="check-box-box">
                    <input type="checkbox" class="check-box" /><label>Nhớ tài khoản !</label>
                    <a href="#">Quên mật khẩu ?</a>
                </div>
            </div>
        </div>
    </form>
</div>
