@*@model List<AT.Efs.Entities.Menu>*@
@model MenuViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject AT.Efs.Entities.WebAtSolutionContext webContext
@foreach (var item in Model.listMenu)
{
    <li>
        @if (item.SlugName == "tuyen-dung")
        {
            var modelNewtype = await AT.Helpers.MenuHelper.GetDataMenu(webContext);
            foreach (var item1 in modelNewtype.listNewType)
            {
                if (item.SlugName == item1.SlugName)
                {
                    <a href="~/tin-tuc?id=@item1.Id"><i class="@item.IconSlug"></i><span>@item.Name</span></a>
                }
            }

        }
        else
        {
            <a href="~/@item.SlugName"><i class="@item.IconSlug"></i><span>@item.Name</span></a>
        }
        @if (item.SlugName == "dich-vu")
        {
            
        }
        else if (item.SlugName == "trang-chu" || item.SlugName == "gioi-thieu" || item.SlugName == "lien-he")
        {

        }
        else
        {
        }

    </li>
}
