@model AtECommerce.Models.AccountObjectViewModel
@{
    ViewData["Title"] = "Đăng ký";
}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<style>
    label.error {
		display: inline-block;
		color:red;
	}
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mx-4">
                <div id="register-form" class="card-body p-4">
                    <form id="myform" asp-action="register" >
                        <h1>Đăng ký</h1>
                        <p class="text-muted">Tạo tài khoản của bạn</p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                            </div>
                            <input type="text" name="UserLogin" asp-for="UserLogin" class="form-control valid" placeholder="Tên người dùng">
                            <br />
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@@</span>
                            </div>
                            <input asp-for="EmailAddress" name="EmailAddress" type="email" class="form-control valid" placeholder="Email">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-lock"></i></span>
                            </div>
                            <input id="password" type="password" name="PasswordLogin" asp-for="PasswordLogin"  class="form-control valid" placeholder="Mật khẩu">
                        </div>

                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-lock"></i></span>
                            </div>
                            <input name="confirm_password" type="password" class="form-control valid" placeholder="Nhập lại mật khẩu">
                        </div>
                        <div>
                            <label>Khi bạn nhấn Đăng ký, bạn đã đồng ý thực hiện mọi giao dịch mua bán theo <a href="#">điều kiện sử dụng và chính sách</a> của New Golden SEA</label>
                            
                        </div>
                        <input type="submit" class="btn btn-block btn-success" value="Đăng ký" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.valid').css("width", "80%");
                $("#myform").validate({
                    rules: {
                        UserLogin: {
                            required: true,
                            minlength: 5
                        },
                        EmailAddress: {
                            required: true,
                            email: true
                        },
                        PasswordLogin: {
                            required: true,
                            minlength: 5
                        },
                        confirm_password: {
                            required: true,
                            minlength: 5,
                            equalTo: "#password"
                        },
                        dieukhoan: "required"
                    },
                    messages: {
                        UserLogin: {
                                required: "Vui lòng nhâp tên người dùng!!",
                                minlength: "Tên người dùng ngắn vậy, chém gió à?"
                        },

                        PasswordLogin: {
                                required: 'Vui lòng nhập mật khẩu',
                                minlength: 'Vui lòng nhập ít nhất 5 kí tự'
                        },
                        confirm_password: {
                                required: 'Vui lòng nhập lại mật khẩu',
                                minlength: 'Vui lòng nhập ít nhất 5 kí tự',
                                equalTo: 'Mật khẩu không trùng'
                        },
                        EmailAddress: "Vui lòng nhập Email",
                        dieukhoan: "Vui lòng đồng ý các điều khoản",
                    }

                 });
            });
        </script>
}