@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = SharedLocalizer["ViewTitle_List"];
}


<h4>@SharedLocalizer["ViewTitle_List"]</h4>
<hr />

<p>
    <a asp-action="Create" class="btn btn-primary">@SharedLocalizer["Btn_CreateNew"]</a>
</p>

@(Html.Kendo().Grid<CategoryDetailsViewModel>()
    .Name("gridCategory")
    .Columns(columns =>
    {
        columns.Bound(c => c.Id).Title(" ").Width(250).Locked(true).Filterable(false).Sortable(false).ClientTemplate(
            "<a class=\"btn btn-success\" data-toggle=\"tooltip\" title=\"" + 
                SharedLocalizer["Ttip_Detail"] +
                "\"href='" +
                Url.Action("Details", ((string)ViewData["ControllerNameForGrid"])) +
                "/#= Slug_Name #'" +
            "><i class=\"far fa-eye\"></i></a> " +
            "<a class=\"btn btn-success\" data-toggle=\"tooltip\" title=\"" +
                SharedLocalizer["Ttip_Edit"] +
                "\" href='" +
                Url.Action("Edit", ((string)ViewData["ControllerNameForGrid"])) +
                "/#= Slug_Name #'" +
            "><i class=\"far fa-pencil\"></i></a> " +
            "<a class=\"btn btn-danger\" data-toggle=\"tooltip\" title=\"" +
                SharedLocalizer["Ttip_Delete"] +
                "\" href='" +
                Url.Action("Delete", ((string)ViewData["ControllerNameForGrid"])) +
                "/#= Slug_Name #'" +
            "><i class=\"far fa-trash-alt\"></i></a>"
        );
            columns.Bound(c => c.RowStatus).Title("RowStatus").Width(100);
            columns.Bound(c => c.Code).Title("Code").Width(200);
            columns.Bound(c => c.Name).Title("Name").Width(200);
            columns.Bound(c => c.Slug_Name).Title("Slug_Name").Width(200);
            columns.Bound(c => c.Code).Title("Code").Width(200);
            columns.Bound(c => c.Name).Title("Name").Width(200);
            columns.Bound(c => c.Slug_Name).Title("Slug_Name").Width(200);
            columns.Bound(c => c.AutoSlug).Title("AutoSlug").Width(200);
            columns.Bound(c => c.FkCategoryId).Title("FkCategoryId").Width(200);
            columns.Bound(c => c.Rank).Title("Rank").Width(200).Format("{0:N0}").HtmlAttributes(new { @class = "col-align-right" });
            columns.Bound(c => c.SortIndex).Title("SortIndex").Width(200).Format("{0:N0}").HtmlAttributes(new { @class = "col-align-right" });
            columns.Bound(c => c.Tags).Title("Tags").Width(200);
            columns.Bound(c => c.KeyWord_Image).Title("KeyWord_Image").Width(200);
            columns.Bound(c => c.MetaData).Title("MetaData").Width(200);
            columns.Bound(c => c.Note_Html).Title("Note_Html").Width(200);
            columns.Bound(c => c.CountChild_ReadOnly).Title("CountChild_ReadOnly").Width(200).Format("{0:N0}").HtmlAttributes(new { @class = "col-align-right" });
            columns.Bound(c => c.CountProduct_ReadOnly).Title("CountProduct_ReadOnly").Width(200).Format("{0:N0}").HtmlAttributes(new { @class = "col-align-right" });
            columns.Bound(c => c.CreatedDate).Title("CreatedDate").Width(200);
            columns.Bound(c => c.UpdatedDate).Title("UpdatedDate").Width(200);
            columns.Bound(c => c.CreatedBy).Title("CreatedBy").Width(200);
            columns.Bound(c => c.UpdatedDate).Title("UpdatedDate").Width(200);
    })
    .HtmlAttributes(new { style = "height: 550px;" })
    .Resizable(r => r.Columns(true))
    .Scrollable()
    .Groupable()
    .Sortable()
    .Filterable()
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(new int[] { 50, 100, 200, 500, 1000 })
        .ButtonCount(5))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("Index_Read", ((string)ViewData["ControllerNameForGrid"])))
        .PageSize(50)
    )
)

<p>
</p>
<p>
    <a asp-action="Create" class="btn btn-primary">@SharedLocalizer["Create New"]</a>
</p>
