@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject AT.Efs.Entities.WebAtSolutionContext webContext
@{
    ViewBag.Title = "Dự án";
}
<div id="contentWrapper">
    <div class="page-title title-1">
        <div class="container">
            <div class="row">
                <div class="cell-12">
                    <h1 class="fx" data-animate="fadeInLeft">Project <span>Page</span></h1>
                    <div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                        <span class="bold">You Are In:</span><a href="~/Home">Trang chủ</a>@*<span class="line-separate">/</span><a href="#">Pages </a>*@<span class="line-separate">/</span><span>Dự án</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionWrapper">
        <div class="portfolio-filterable full">
            <div class="">
                <div class="container">
                    <div class="gry-bg skew-25">
                        <span class="skew25 left filter-by">Filter by:</span>
                        <ul id="filters">
                            <li class="active"><a href="#" class="skew25 filter" data-filter="*">TẤT CẢ</a></li>
                            <li><a href="#" class="skew25 filter" data-filter=".design">WEBSITE</a></li>
                            <li><a href="#" class="skew25 filter" data-filter=".develop">PHẦN MỀM</a></li>
                            @*<li><a href="#" class="skew25 filter" data-filter=".seo">SEO Management</a></li>*@
                        </ul>
                    </div>
                </div>
                <div class="portfolio-items" id="container">
                    @{
                        var projectsModel = await AT.Helpers.ProjectsHelper.GetDataProjects(webContext);
                        foreach (var item in projectsModel.listProj)
                        {
                            <div class="cell-3 @item.FkProjectTypeId" data-category="@item.FkProjectTypeId">
                                <div class="portfolio-item">
                                    <div class="img-holder">
                                        <div class="img-over">
                                            <a href="~/chi-tiet-du-an?id=@item.Id" class="fx link"><b class="fa fa-link"></b></a>
                                            <a href="~/Images/Project/@item.ImageSlug" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title"><b class="fa fa-search-plus"></b></a>
                                        </div>
                                        <img alt="" src="~/Images/Project/@item.ImageSlug">
                                    </div>
                                    <div class="name-holder">
                                        <a href="#" class="project-name">@item.Name</a>
                                        <span class="project-options">@item.FkProjectTypeId</span>
                                    </div>
                                </div>
                            </div>
                        }
                    }                
                    @*<div class="cell-3 develop" data-category="develop">
                            <div class="portfolio-item">
                                <div class="img-holder">
                                    <div class="img-over">
                                        <a href="portfolio-single.html" class="fx link"><b class="fa fa-link"></b></a>
                                        <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title"><b class="fa fa-search-plus"></b></a>
                                    </div>
                                    <img alt="" src="images/portfolio/1.jpg">
                                </div>
                                <div class="name-holder">
                                    <a href="#" class="project-name">Project Title</a>
                                    <span class="project-options">Project Category</span>
                                </div>
                            </div>
                        </div>
                        <div class="cell-3 develop seo" data-category="develop">
                            <div class="portfolio-item">
                                <div class="img-holder">
                                    <div class="gallery portfolio-img-slick">
                                        <div>
                                            <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title">
                                                <img src="images/portfolio/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div>
                                            <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title">
                                                <img src="images/portfolio/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div>
                                            <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title">
                                                <img src="images/portfolio/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div>
                                            <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title">
                                                <img src="images/portfolio/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div>
                                            <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title">
                                                <img src="images/portfolio/1.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="name-holder">
                                    <a href="#" class="project-name">Project Title</a>
                                    <span class="project-options">Project Category</span>
                                </div>
                            </div>
                        </div>
                        <div class="cell-3 design" data-category="design">
                            <div class="portfolio-item">
                                <div class="img-holder">
                                    <div class="img-over">
                                        <a href="portfolio-single.html" class="fx link"><b class="fa fa-link"></b></a>
                                        <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title"><b class="fa fa-search-plus"></b></a>
                                    </div>
                                    <img alt="" src="images/portfolio/1.jpg">
                                </div>
                                <div class="name-holder">
                                    <a href="#" class="project-name">Project Title</a>
                                    <span class="project-options">Project Category</span>
                                </div>
                            </div>
                        </div>
                        <div class="cell-3 seo" data-category="seo">
                            <div class="portfolio-item">
                                <div class="img-holder">
                                    <div class="img-over">
                                        <a href="portfolio-single.html" class="fx link"><b class="fa fa-link"></b></a>
                                        <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title"><b class="fa fa-search-plus"></b></a>
                                    </div>
                                    <img alt="" src="images/portfolio/1.jpg">
                                </div>
                                <div class="name-holder">
                                    <a href="#" class="project-name">Project Title</a>
                                    <span class="project-options">Project Category</span>
                                </div>
                            </div>
                        </div>
                        <div class="cell-3 develop" data-category="develop">
                            <div class="portfolio-item">
                                <div class="img-holder">
                                    <div class="img-over">
                                        <a href="portfolio-single.html" class="fx link"><b class="fa fa-link"></b></a>
                                        <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title"><b class="fa fa-search-plus"></b></a>
                                    </div>
                                    <img alt="" src="images/portfolio/1.jpg">
                                </div>
                                <div class="name-holder">
                                    <a href="#" class="project-name">Project Title</a>
                                    <span class="project-options">Project Category</span>
                                </div>
                            </div>
                        </div>
                        <div class="cell-3 design" data-category="design">
                            <div class="portfolio-item">
                                <div class="img-holder">
                                    <div class="img-over">
                                        <a href="portfolio-single.html" class="fx link"><b class="fa fa-link"></b></a>
                                        <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title"><b class="fa fa-search-plus"></b></a>
                                    </div>
                                    <img alt="" src="images/portfolio/1.jpg">
                                </div>
                                <div class="name-holder">
                                    <a href="#" class="project-name">Project Title</a>
                                    <span class="project-options">Project Category</span>
                                </div>
                            </div>
                        </div>
                        <div class="cell-3 develop" data-category="develop">
                            <div class="portfolio-item">
                                <div class="img-holder">
                                    <div class="img-over full-hover">
                                        <a href="images/portfolio/1.jpg" class="fx zoom" title="Project Title" data-gal="prettyPhoto[pp_gal]"><b class="fa fa-search-plus"></b></a>
                                    </div>
                                    <img alt="" src="images/portfolio/1.jpg">
                                </div>
                                <div class="name-holder">
                                    <a href="#" class="project-name">Project Title</a>
                                    <span class="project-options">Project Category</span>
                                </div>
                            </div>
                        </div>
                        <div class="cell-3 design" data-category="design">
                            <div class="portfolio-item">
                                <div class="img-holder">
                                    <div class="img-over">
                                        <a href="portfolio-single.html" class="fx link"><b class="fa fa-link"></b></a>
                                        <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title"><b class="fa fa-search-plus"></b></a>
                                    </div>
                                    <img alt="" src="images/portfolio/1.jpg">
                                </div>
                                <div class="name-holder">
                                    <a href="#" class="project-name">Project Title</a>
                                    <span class="project-options">Project Category</span>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
