
@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome to New Golden Sea</h1>
        <h3>Bạn đã đăng nhập thành công</h3>
        <img src="~/logo/logoGoldenSea.png" />

    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome to New Golden Sea</h1>
        <h3>Vui lòng đăng nhập bằng tài khoản quản trị viên để truy cập</h3>
        <img src="~/logo/logoGoldenSea.png" />

    </div>
}