@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ATSOLUTION</title>

    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/jquery.min.js"></script>
    <link href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <script src="~/lib/jszip.min.js"></script>
    <script src="~/lib/kendo.all.min.js"></script>
    <script src="~/lib/kendo.aspnetmvc.min.js"></script>

    <link rel="shortcut icon" href="~/img/logo.png">
    <link rel="stylesheet" href="~/lib/regular.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/kendo.bootstrap-v4.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/at-e-commerce.css" />
    <link href="~/css/style.css" rel="stylesheet" />

    <link href="~/vendors/css/gauge.min.css" rel="stylesheet" />
    <link href="~/vendors/css/toastr.min.css" rel="stylesheet" />
    <link href="~/vendors/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/vendors/css/flag-icon.min.css" rel="stylesheet">
    <link href="~/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/vendors/css/simple-line-icons.min.css" rel="stylesheet">

    <link href="~/lib/kendo.bootstrap-v4.min.css.map rel=" stylesheet"" />
</head>
<body>

    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav d-md-down-none mr-auto">
        </ul>
        <div class="login" style="margin-right: 105px;">
            <partial name="_LoginPartial" />
        </div>
    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="nav">
                        <li class="nav-item open">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link"><i class="icon-pie-chart"></i> ADMIN</a>
                            </li>
                            <li class="nav-item nav-dropdown">
                                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Quyền</a>
                                <ul class="nav-dropdown-items">

                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Role" asp-action="Index"><i class="icon-puzzle"></i> Tạo Quyền</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="GrantRights" asp-action="Index"><i class="icon-puzzle"></i> Cấp Quyền</a>
                                    </li>

                                </ul>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" href="charts.html"><i class="icon-pie-chart"></i> Quản lý</a>
                        </li>
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-cursor"></i> Quản lý dự án</a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="ProjectType" asp-action="Index"><i class="icon-cursor"></i> Loại dự án</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Projects" asp-action="Index"><i class="icon-cursor"></i> Dự án</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-code"></i> Bài đăng</a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="NewsTypes" asp-action="Index"><i class="icon-note"></i> Loại bài đăng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="News" asp-action="Index"><i class="fa fa-code"></i> Bài đăng mới</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-note"></i> Setting</a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="SettingType" asp-action="Index"><i class="icon-note"></i> Loại Setting</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Setting" asp-action="Index"><i class="icon-note"></i> Setting mới</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="ImageSlides" asp-action="Index"><i class="icon-note"></i> Hình ảnh</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Nhân sự</a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="People" asp-action="Index"><i class="icon-star"></i> Nhân Viên</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="AboutUs" asp-action="Index"><i class="icon-star"></i> Giới thiệu</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-bell"></i> Dịch vụ</a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Service" asp-action="Index"><i class="icon-bell"></i> Dịch vụ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Contacts" asp-action="Index"><i class="icon-bell"></i> Liên hệ</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>

        <!-- Main content -->
        <div class="main">
            <div class="container-fluid">
                @*<partial name="_CookieConsentPartial" />*@
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2019 - At E-Commerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    </div>

    @*<br />
        <br />
        <br />
        <br />
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - At E-Commerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <!-- Bootstrap and necessary plugins -->
    <script src="~/vendors/js/jquery.min.js"></script>
    <script src="~/vendors/js/popper.min.js"></script>
    <script src="~/vendors/js/bootstrap.min.js"></script>
    <script src="~/vendors/js/pace.min.js"></script>

    <!-- Plugins and scripts required by all views -->
    <script src="~/vendors/js/Chart.min.js"></script>

    <!-- CoreUI Pro main scripts -->

    <script src="~/js/app.js"></script>

    <!-- Plugins and scripts required by this views -->
    <script src="~/vendors/js/toastr.min.js"></script>
    <script src="~/vendors/js/gauge.min.js"></script>
    <script src="~/vendors/js/moment.min.js"></script>
    <script src="~/vendors/js/daterangepicker.min.js"></script>

 
    @RenderSection("Scripts", required: false)
</body>
</html>
