

<ul class="navbar-nav">
    @if (!User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a style="margin-right: 15px;" class="nav-link text-dark"  asp-controller="Acount" asp-action="register">Đăng ký</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Acount" asp-action="DangNhap">Đăng nhập</a>
        </li>


    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage"> @User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Acount" asp-action="DangXuat">Đăng xuất</a>
        </li>

    }
</ul>